@import './../../common/colors.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    padding: 20px 50px;

    &__left {
        display: flex;
        align-items: center;
        &:hover {

            .header__title {
                color: rgb(255, 231, 152);
                transform: translateX(10px);
            }
            
        }
    }

    &__title {
        margin-left: 20px;
        color: $font-primary;
        font-size: 25px;
        font-weight: 700;
        transition: all .3s ease-in-out;
    }

    &__logo {
        height: 60px;
        width: 60px;
    }
}

.user {
    

    &__logo {
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 800px) {
    .header {

        &__logo {
            width: 40px;
            height: 40px;
        }

        &__title {
            font-size: 18px;
        }
    }

    .user {

        &__logo {
            width: 40px;
            height: 40px;
        }
    }
}